<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>google map API V3 サンプル</title>


  <!-- google map api -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0y-XaRkwtdhbjAy34iuzkwefWHV7IIjk"></script>
</head>

<body>
  <!-- アクションから渡されたインスタンス変数を変換 javascriptに渡すため-->
  <%= javascript_tag do %>
    window.places = <%= raw @places.to_json %>;
  <% end %>




  <!-- 高さと幅は必ず指定する。 -->
  <div id="mapDiv" style="height: 500px; width: 80%; margin: 2rem auto 0;"></div>


<script>
  function startGmap() {
    // ns は google.maps.と書く手間を省くネームスペース
    var ns = google.maps,
      myLatlng = new ns.LatLng(35.687168, 139.757412),
      mapElement = document.getElementById("mapDiv"),
      mapOptions = {
        zoom: 5,
        center: myLatlng
      },
      map = new ns.Map(mapElement, mapOptions);

    // 複数マーカー設定
    var marker = [];
    function placeMarker(){
      for (var i = 0; i < places.length; i++) {
        marker[i] = new ns.Marker({
          position: new ns.LatLng(places[i].lat, places[i].lng),
          map: map
        });
      }
    }

    // マーカー配置
    placeMarker();
  }

  google.maps.event.addDomListener(window, 'load', startGmap);
</script>


<br>
<br>


<!-- 登録場所一覧 -->
<table class="table">
  <thead class="thead-default bg-info text-white">
    <tr>
      <th>場所</th>
      <th>緯度</th>
      <th>経度</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @places.each do |p| %>
    <tr>
      <td><%= p.name %></td>
      <td><%= p.lat %></td>
      <td><%= p.lng %></td>
      <td>
        <%= link_to '削除', p, method: :delete, data: {confirm: "ユーザー「#{p.name}」を削除します。よろしいですか？"}, class: 'btn btn-danger' %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

</body>
</html>